name: tests

on:
  push:
    branches: [ "main" ]

  pull_request:

permissions:
  contents: read

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up go environment
      uses: actions/setup-go@v4
      with:
        go-version: 1.24.2

    - name: Run integration tests without lifecycle-manager
      run: make -C hack/ci run-without-lifecycle-manager
