name: Run integration tests

on:
  push:
    branches: [ "main" ]

  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
          /home/runner/work/application-connector-manager/application-connector-manager/bin
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Set up go environment
      uses: actions/setup-go@v4
      with:
        go-version: 1.19

    - name: Run integration tests without lifecycle-manager
      run: make -C hack/ci run-without-lifecycle-manager
